name: Update GitHub Metrics

on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: rustkas
          template: classic
          base: header, activity, community, repositories
      - name: Commit metrics svg
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add github-metrics.svg || true
          git commit -m "docs(metrics): update github-metrics.svg" || echo "no changes"
          git push || echo "skip push"